.chart-container{
    position: relative;
    display: block;
    overflow: hidden;
}
.preview-container{
    width: 80%;
}
.dropdown-btn{
    color: #252525;
    font-size: 16px;
    cursor: pointer;
}